@model RoleTopMVC.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Reservas - RoleTop";
    ViewData["H2"] = "Histórico de Reservas";
}

<main>
    <div class="h2pls">
    <h2>@ViewData["H2"]
    </div>
    </h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Evento</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var reserva in Model.Reservas ) {
                <tr>
                    <td>@reserva.DataDaReserva</td>
                    <td>@reserva.Evento.Nome</td>
                    <td>@reserva.Evento.Preco</td>
                        
                    
                </tr>
            }
        </tbody>
    </table>


</main>